<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="normal/userbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
		<section>
			<div class="card mr-4">
			<div class="card-body">
				<h1 class="text-center">Update Contact</h1>
				<div class="container-fluid mt-1">

					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form action="" th:object="${contact}" method="post"
								enctype="multiPart/form-data"
								th:action="@{/user/processUpdateContact}" class="mt-2">
								
								
						<!--THIS FIELD IS TO SEND ID TO HANDLER  -->		

						<input type="hidden" th:value="${contact.cId}" name="cId">
						
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
										<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" class="form-control"
								th:value="${contact.name}"	required="required"	id="name" name="name" placeholder="Enter name here">
								</div>
								
								
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
										<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" class="form-control"
								th:value="${contact.secondName}"	required="required"	id="secondName" name="secondName" placeholder="Enter second name here">
								</div>
								
								<!-- THIS IS PHONE FIELD -->
								
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
										<i class="fa fa-phone"></i>
										</div>
									</div>
									<input type="number" class="form-control"
								th:value="${contact.phone}"	required="required"	id="phone" name="phone" placeholder="Enter phone number here">
								</div>
								
								
								<!--THIS IS EMAIL FIELD  -->
								
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
										@
										</div>
									</div>
									<input type="email" class="form-control"
								th:value="${contact.email}"	required="required"	id="email" name="email" placeholder="Enter email here">
								</div>
								
								<!--THIS IS WORK FIELD  -->

								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
										<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input type="text" class="form-control"
								th:value="${contact.work}"	required="required"	id="work" name="work" placeholder="Enter Work here">
								</div>
								
						<!--CONTACT IMAGE  -->
								
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text mr-2">
										<i class="fas fa-image"></i>
										</div>
									</div>
								
								<div class="custom-file mt-2">
								<input type="file" name="profileImage" required="required" id="imageUrl">
								</div>
								</div>
									<!--CONTACT DESCRIPTION   -->
									
							<div class="form-group mt-2">
								<textarea  placeholder="Enter Contact Description" rows="10" name="description" 
							th:text="${contact.description}" required="required"	id="myTextArea" class="form-control"
							style="color: block"	>
								</textarea>
								
								</div>
								
								<div class="container text-center">
								<button type="submit" class="btn btn-outline-primary">Save Contact</button>
								<button type="reset" class="btn btn-outline-primary">Reset</button>
								</div>
								
								
							</form>

						</div>

					</div>


				</div>
			</div>
		</div>
		
		
		</section>
</body>
</html>